window {
    background-color: #2E3440;
    border: 2px solid #88C0D0;
    border-radius: 10px;
    padding: 10px;
}

#input {
    background-color: #3B4252;
    color: #ECEFF4;
    padding: 6px;
    border: none;
}

#entry {
    background-color: #3B4252;
    color: #E5E9F0;
    padding: 6px;
}

#entry:selected {
    background-color: #88C0D0;
    color: #2E3440;
}

